{% load playlist_tags %}
<div class="row">
    {% for episode in episodes %}
        <div class="p-2"
             id="card-{{ episode.id }}"
             style="width: {% divide 100 columns %}%"
             hx-target="#htmx-footer"
             hx-swap="innerHTML"
             hx-get="{% url 'playlists:episode_info_footer' episode.id %}"
             hx-on="htmx:afterRequest: highlightCard({{ episode.id }})">
            <div id="actual-card-{{ episode.id }}" class="card text-wrap">
                <div class="card-header">
                    <img src="{{ episode.season.show.favicon_url }}"
                         alt="Favicon"
                         style="width:16px;
                                height:16px">
                    {{ episode.season.show.name }}
                </div>
                <img src="{% url 'media:episode_image' episode.id image_width %}"
                     class="card-img-top"
                     loading="lazy"
                     width="auto"
                     height="100%"
                     alt="Episode Image">
                <div class="card-body" style="padding-bottom: 0; padding-top: 0;">
                    <figcaption class="figure-caption">
                        {% comment %} TODO: Ability to choose what values are shown here {% endcomment %}
                        <strong>Season:</strong> {{ episode.season.name }}
                        <br>
                        <strong>Episode:</strong> {{ episode.number }}. {{ episode.name }}
                        <br>
                        <strong>Date:</strong> {{ episode.release_date }}
                        <br>
                        <strong>Duration:</strong> {{ episode.duration|seconds_to_time }}
                        <br>
                    </figcaption>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
