{% load playlist_tags %}
<div class="row">
    {% for playlist in playlists %}
        <div id="card-{{ playlist.id }}"
             class="col-auto"
             style="width: 20%"
             playlist-id="{{ playlist.id }}"
             class="btn btn-primary"
             {% comment %} hx-get="{% url 'playlists:playlist' playlist.id %}" {% endcomment %}
             onClick="window.location.href='{% url 'playlists:playlist' playlist.id %}'"
             >
            <div class="card text-wrap">
                <img src="{{ playlist.thumbnail_url }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ playlist.name }}</h5>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
