{% extends "toast.html" %}
{% block "title" %}
  Visual Config
{% endblock "title" %}
{% block "body" %}
  <form id="visual-config-form">
    <div>
      <label for="label-visual-congig-columns">Columns:</label>
      {{ columns }}
      <input type="number"
             name="columns"
             value="{{ columns }}"
             min="1"
             required=""
             id="visual-config-form-columns"
             onchange="setCardColumns(this.value)">
    </div>
    <div>
      <label for="label-visual-config-image-width">Image width:</label>
      <input type="number"
             name="image_width"
             value="{{ image_width }}"
             min="0"
             id="visual-config-form-image-width"
             required=""
             onchange="setImageWidth(this.value)">
    </div>
  </form>
  <button onclick="saveVisualConfig({{ playlist.id }}); return false;">Update Visuals</button>
  {% comment %} TODO: This will need to be moved out of this for it to work but for testing this is fine {% endcomment %}
  </script>
{% endblock "body" %}
