{% extends "htmx_modal_base.html" %}

{% comment %} Most of this entire file is copied from htmx's "Model Dialogs in Bootstrap" example {% endcomment %}
{% comment %} See: https://htmx.org/examples/modal-bootstrap/ {% endcomment %}
{% block modal_content %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="hide_season_modal">Hide Seasons</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'playlists:post_hide_season_formset' playlist.id %}" method="post" class="row" id="hide_season_formset">
                    {% comment %} Most of this is copied directly from Bootstrap's accordian example {% endcomment %}
                    {% comment %} See: https://getbootstrap.com/docs/5.0/components/accordion/ {% endcomment %}
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        {% csrf_token %}
                        {{ hide_season_formset.management_form }}
                        {% for form in hide_season_formset %}
                            {% comment %} When the show changes a new accordian should be made {% endcomment %}
                            {% ifchanged form.instance.season.show  %}

                                {% comment %} This closes the previous accordian so the current show gets a new one {% endcomment %}
                                {% if not forloop.first %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-heading{{form.instance.season.show.id}}">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{form.instance.season.show.id}}" aria-expanded="true" aria-controls="flush-collapse{{form.instance.season.show.id}}">
                                            <img src="{{form.instance.season.show.scraper_instance.FAVICON_URL}}"  title="{{form.instance.show.website}}" loading="lazy" width="16" height="16"> {{form.instance.season.show.name}}
                                        </button>
                                    </h2>
                                    <div id="flush-collapse{{form.instance.season.show.id}}" class="accordion-collapse collapse show" aria-labelledby="flush-heading{{form.instance.season.show.id}}">
                                        <div class="accordion-body">
                            {% endifchanged%}

                                {# It's easiest to insert hidden and visible fields individually #}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}

                                {% for field in form.visible_fields %}
                                    {# This div and the label just formats the information so it's nice and easy to read #}
                                    <div class="form-check">
                                        {{ field }}
                                        <label class="form-check-label" for="flexCheckChecked">
                                            {{form.instance.season.name}}
                                        </label>
                                    </div>
                                {% endfor %}
                                {% if forloop.last %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input class="btn btn-success" form="hide_season_formset" type="submit" value="Hide Seasons">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>
{% endblock %}
