{% extends "htmx_modal_base.html" %}

{% comment %} Most of this entire file is copied from htmx's "Model Dialogs in Bootstrap" example {% endcomment %}
{% comment %} See: https://htmx.org/examples/modal-bootstrap/ {% endcomment %}
{% block modal_content %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="episode_order_modal_label">Filter Episodes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()"></button>
            </div>
            <div class="modal-body">
                {% comment %} id="episode_order_form" - Allows the submit button to be outisde of the form {% endcomment %}
                <form action="{% url 'playlists:playlist' playlist.id %}" method="post" id="episode_order_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col border border-2">
                            <h5>Show Order</h5>
                            {{ playlist_order_form.show_order }}
                        </div>
                        <div class="col border border-2">
                            <h5>Episode Order</h5>
                            {{ playlist_order_form.episode_order }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col border border-2">
                            <h5>Change Show</h5>
                            {{ playlist_order_form.change_show }}
                        </div>
                        <div class="col border border-2">
                            <h5>Rotate Type</h5>
                            {{ playlist_order_form.rotate_type }}
                        </div>
                    </div>


                    <div class="row">
                        <div class="col border border-2">
                            <h5>Filter</h5>
                            {{ playlist_order_form.episode_filter }}
                        </div>
                        <div class="col border border-2">
                            <h5>Reverse</h5>
                            {{ playlist_order_form.reverse }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col border border-2">
                            <h5>Websites</h5>
                            {{ playlist_order_form.websites }}
                        </div>
                        <div class="col border border-2">
                            <h5>Episodes</h5>
                            {{ playlist_order_form.number_of_episodes }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" form="episode_order_form" type="submit" value="Sort Episodes">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>
{% endblock %}
