{% comment %} Not using a normal toast container here because I prefer the visual look of the toasts being right on top
of each other with minimal empty space between them {% endcomment %}
<div class="toast fade show w-100"
     role="alert"
     aria-live="assertive"
     aria-atomic="true">
  <div class="toast-header">
    <strong class="me-auto">
      {% block "title" %}
      {% endblock "title" %}
    </strong>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"></button>
  </div>
  <div class="toast-body">
    {% block "body" %}
    {% endblock "body" %}
  </div>
</div>
